* body, p, a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    display: block;
}

header {
    display: flex;
    background-color: darkgrey;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
    padding: 10px;
}


/* CSS FlexBox  */

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.container > div {
    flex: 1 1 200px;
    margin: 10px;
}

/* CSS GridBox */

.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    grid-gap: 20px;
    margin-bottom: 100px;
}

.container-grid > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;

}

.container-grid > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
    background-color: tomato;
}

@media (max-width: 600px){
    .container-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .container-grid > div:nth-child(n + 4)  {
        display: block;
    }
    .container-grid > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}

/* CSS Grid 2 */

.container-grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar > div{
    margin-bottom: 10px;
}

@media (max-width: 600px){
    .container-grid2 {
        grid-template-columns: 1fr;
    }
    .sidebar{
        display: flex;
        overflow: scroll;
    }

    .sidebar > div {
        flex: 1 0 200px;
        margin: 0 10px;
    }
}

.container-grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

.grid-items:nth-child(1){
    grid-row: 1 / 3;    
}

.grid-items {
    display: grid;
}

.grid-items img {
    grid-column: 1;
    grid-row: 1/3;
    align-self: flex-end;
}

.grid-items p {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;

    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
}

@media (max-width: 600px){
    .container-grid3{
        grid-gap: 10px;
    }
}